{% import "./macros/forms.twig" as forms %}
<div class="filters{{ embed }}">
  <!-- Year -->
  <div class="filter-component filter-position{{ embed }} filter-loading fyear" style="position: relative;">
    <p id="filtertitley" class="filter-title years">{{ yearSelected|default('All Years') }}</p>
    <ul class="filter-items items-years">
      {% for year in years %}
        <li> {{ forms.checkmark('years', year.year, year.name, (year.year == yearSelected) ) }} </li>
      {% endfor %}
    </ul>
  </div>
  <!-- CRPs -->
  <div class="filter-component filter-position{{ embed }} filter-loading fprogram" style="position: relative;">
    <p id="filtertitlec" class="filter-title portfolio">{{ entitySelected|default('Research Programs') }}</p>
    <ul class="filter-items items-programs">
      {% for crp in crps %}
        <li> {{ forms.checkmark('crps', crp.acronym , crp.name, (crp.acronym == entitySelected)) }}  </li>
      {% endfor %}
    </ul>
  </div>
</div>
