{% import "./macros/forms.twig" as forms %}
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="./images/cgiar-tab.png"/>

    <title>{{ pageParams.title }} </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    {% for element in pageParams.customCSS %}
      <link rel="stylesheet" href="{{ element }}" >
    {% endfor %}

    <link href='./css/global.css' rel='stylesheet' type='text/css'>
    <link href='./css/pageloading.css' rel='stylesheet' type='text/css'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128966130-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128966130-1');
    </script>
    <!-- Application config parameters -->
    <script type="text/javascript">
      var appConfig = {
        production : {{ appConfig.production |json_encode() }},
        tableauView : '{{ appConfig.tableauView  }}',
        hostOrigin: '{{ hostOrigin }}'
      };
    </script>
  </head>
  <body>
    {% if not appConfig.production %}
      {% if not embed %}
      <div class="testingMessage text-center"><span class="badge badge-secondary">Testing Environment</span></div>
      {% endif %}
    {% endif %}
    <header>
        <!-- Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div id="loading"></div>
              </div>
            </div>
          </div>
        </div>

        {% if not embed %}
        <div class="pageheader-wrapper" style="height:110px;">
        <div id="pageheader">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-auto">
                <h3 class="title pull-left">
                  <a href="https://www.cgiar.org/research/research-portfolio/" target="_blank"><img src="./images/cgiar_logo.png" alt="CGIAR Logo" width="90px"></a>
                  <span>CGIAR Program Results Dashboard</span>
                </h3>
              </div>
              <div class="col-auto">
                <div class="filters">
                    <!-- Year -->
                    <div class="filter-component fyear">
                      <p id="filtertitley" class="filter-title years">Years</p>
                      <ul class="filter-items items-years">
                        <li> {{ forms.checkmark('years', 'All Years' , 'All Years', false) }} </li>
                        {% for year in years %}
                          <li> {{ forms.checkmark('years', year, year, true) }} </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <!-- CRPs -->
                    <div class="filter-component fprogram">
                      <p id="filtertitlec" class="filter-title portfolio">Research Portfolio</p>
                      <ul class="filter-items items-programs">
                        <li> {{ forms.checkmark('crps', 'All' , 'All', true) }} </li>
                        {% for crp in crps %}
                          <li> {{ forms.checkmark('crps', crp.acronym , crp.name) }} </li>
                        {% endfor %}
                      </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        {% endif %}
    </header>
