{% import "./macros/forms.twig" as forms %}
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="{{ base_url() }}/images/cgiar-tab.png"/>

    <title>{{ pageParams.title }} </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">

    {% for element in pageParams.customCSS %}
      <link rel="stylesheet" href="{{ element }}" >
    {% endfor %}

    <link href='{{ base_url() }}/css/global.css' rel='stylesheet' type='text/css'>
    <link href='{{ base_url() }}/css/pageloading.css' rel='stylesheet' type='text/css'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128966130-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-128966130-1');
      </script>
  </head>
  <body>
    <header>

        <!-- Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="loadingtext">Loading</div>
                <div class="sk-fading-circle">
                  <div class="sk-circle1 sk-circle"></div>
                  <div class="sk-circle2 sk-circle"></div>
                  <div class="sk-circle3 sk-circle"></div>
                  <div class="sk-circle4 sk-circle"></div>
                  <div class="sk-circle5 sk-circle"></div>
                  <div class="sk-circle6 sk-circle"></div>
                  <div class="sk-circle7 sk-circle"></div>
                  <div class="sk-circle8 sk-circle"></div>
                  <div class="sk-circle9 sk-circle"></div>
                  <div class="sk-circle10 sk-circle"></div>
                  <div class="sk-circle11 sk-circle"></div>
                  <div class="sk-circle12 sk-circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pageheader-wrapper" style="height:110px;">
        <div id="pageheader">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <h3 class="title pull-left">
                  <a href="https://www.cgiar.org/research/research-portfolio/" target="_blank"><img src="{{ base_url() }}/images/cgiar_logo.png" alt="CGIAR Logo" width="14%"></a>
                  <span>CGIAR Program Results Dashboard</span>
                </h3>
              </div>
              <div class="col-md-5">
              <!-- Year -->
                <div class="filter-component fyear">
                  <p id="filtertitley" class="filter-title years">Years</p>
                  <ul class="filter-items">
                    <li> {{ forms.checkmark('years', 'All Years' , 'All Years', true) }} </li>
                    {% for year in years %}
                      <li> {{ forms.checkmark('years', year, year) }} </li>
                    {% endfor %}
                  </ul>
                </div>
                <!-- CRPs -->
                <div class="filter-component fprogram">
                  <p id="filtertitlec" class="filter-title portfolio">Research Program</p>
                  <ul class="filter-items">
                    <li> {{ forms.checkmark('crps', 'All' , 'All Programs', true) }} </li>
                    {% for crp in crps %}
                      <li> {{ forms.checkmark('crps', crp.acronym , crp.name) }} </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
    </header>
