{% import "./macros/forms.twig" as forms %}
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="{{ base_url() }}/images/cgiar-tab.png"/>

    <title>{{ pageParams.title }} </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">

    {% for element in pageParams.customCSS %}
      <link rel="stylesheet" href="{{ element }}" >
    {% endfor %}

    <link href='{{ base_url() }}/css/global.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3 class="title pull-left">
              <a href="https://www.cgiar.org/research/research-portfolio/" target="_blank"><img src="{{ base_url() }}/images/cgiar_logo.png" alt="CGIAR Logo" width="90px"></a>
              <span>CGIAR Program Results Dashboard</span>
            </h3>
          </div>
          <div class="col-md-5">
          <div class="filterscont">
          <!-- Year -->
            <div class="filter-component fyear">
              <p class="filter-title years">Years</p>
              <ul class="filter-items">
                <li> {{ forms.checkmark('years', 'All' , 'All', false) }} </li>
                {% for year in years %}
                  <li> {{ forms.checkmark('years', year, year) }} </li>
                {% endfor %}
              </ul>
            </div>
             <!-- CRPs -->
            <div class="filter-component fprogram">
              <p class="filter-title portfolio">Research Program</p>
              <ul class="filter-items">
                <li> {{ forms.checkmark('crps', 'All' , 'All', true) }} </li>
                {% for crp in crps %}
                  <li> {{ forms.checkmark('crps', crp.acronym , crp.name) }} </li>
                {% endfor %}
              </ul>
            </div>            
          </div>
          </div>
        </div>
      </div>
    </header>
