<nav class="main-menu" style="display:{{ displayNav ? 'block' : 'none' }}">
  <ul class="nav sideBar flex-column" id="sections">
      {% for section in sections %}
              {% set url %}{% if section.active %}./{{ section.action }}{% else %}#{% endif %}{% if queryParams %}?{{ queryParams }}{% endif %}{% endset %}
              <li class="{% if currentSection == section.action %}active{% endif %} nav-item mr-1">
                <a href="{{ url }}" class="active-{{section.active}} nav-link sectionAction-{{ section.action }}"> {{ section.name }} </a>
              </li>
      {% endfor %}
  </ul>
</nav>