{% include './pages/menu-icons.twig' with pageParams %}
<nav class="main-menu" style="display:{{ displayNav ? 'block' : 'none' }}">
  <ul class="nav sideBar flex-column" id="sections">
      {% for section in sections %}
              {% set url %}{% if section.active %}./{{ section.action }}{% else %}#{% endif %}{% if queryParams %}?{{ queryParams }}{% endif %}{% endset %}
              <li class="{% if currentSection == section.action and section.type != 'title' %}active{% endif %} menu-{{section.type}} nav-item mr-1">
                <a href="{{ url }}" class="active-{{section.active}} nav-link sectionAction-{{ section.action }}"> 
                  {% if section.type == 'subsection' %}
                    <svg viewBox="0 0 450 360" width="10" height="10">
                      <use xlink:href="#icon-{{section.action}}"></use>
                    </svg> 
                  {% endif %} 
                  {{ section.name }}
                  {% if section.active == false %}
                    <img src="./images/construction-icon.svg" class="construction" height="15">
                  {% endif %}
                  </a>
              </li>
      {% endfor %}
  </ul>
</nav>